.grid-container {
    display: grid;
    grid-template-areas:
      'menu  menu  menu menu  menu  menu'
      'header header header header header header'
      'main   main   main   main   left  right'
      'footer footer footer footer footer footer';
      grid-gap: 10px
  }
.haus{
    grid-area: header;
    border: 0.5px solid black;
    text-align: center;
    padding: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #cca420;
}

.valmynd{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-area: menu;
    border: 0.5px solid black;
    text-align: center;
    padding: 15px;
}

.vinstri{
    padding: 15px;
    grid-area: left;
    border: 0.5px solid black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.adal{
    padding: 15px;
    grid-area: main;
    border: 0.5px solid black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.haegri{
    padding: 15px;
    grid-area: right;
    border: 0.5px solid black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.fotur{
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-area: footer;
    border: 0.5px solid black;
    text-align:  center;
}
blockquote{
    border: 1px solid black;
    padding: 20px;
}
